<app-authorization-error
	*appValidation="authorizationService.isErrorModalVisible"
	(closeErrorComponent)="authorizationService.toggleErrorComponent()">
</app-authorization-error>
<div class="backdrop" (click)="backDropClick($event)">
	<div class="logInWrapper modalWrapper">
		<div class="close" (click)='closeLogIn()'>+</div>
		<div class="LogInSignUp__title">Log In</div>
		<div>
			<div class="">UserName</div>
			<input type="text" placeholder="name" [(ngModel)]="authorizationService.userNameInput" required>
		</div>
		<div>
			<div class="">Password</div>
			<input type="text" placeholder="password" [(ngModel)]="authorizationService.userPasswordInput" required>
		</div>
		<button (click)="authorizationService.submitAuthorization()">log in</button>
	</div>
</div>
