.newCourseForm {
	padding: 20px;
}

.inputContainer {
	height: calc(80vh - 40px);
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px solid black;
	border-radius: 5px;
	background-image: linear-gradient(rgb(255, 174, 0), rgb(252, 200, 103));
}

input {
	width: 30%;
}

.buttonsContainer {
	width: 40%;
	margin: 10px;
	display: flex;
	justify-content: space-around;

	&_button {
		width: 80px;
	}
}

.durationCourse {
	margin: 0 10px;
}

.wideInput {
width: 100%;
}
