<div class="authors">
	<div class="tagContainer">
		<div class="authors_tag" *ngFor="let authorTag of authorsControl.controls; let i = index" >
			<span class="authors_tag_name">
				{{authorTag.value.firstName}} {{authorTag.value.lastName}}
			</span>
			<span class="authors_tag_remove" (click)="removeAuthorTag(i)">+</span>
		</div>
		<input class="authors_input" type="text"
		(input)="searchAuthorsInArray(authorNameInput.value)"
		#authorNameInput>
	</div>
	<div class="container-authors_suggested">
		<div class="authors_suggested"
			*ngFor="let author of suggestAuthors; let i = index"
			(click)="pushAuthorToArray(author, i)">
			{{author.firstName}} {{author.lastName}}
		</div>
</div>
</div>
