<div class="courses-list_item"
[ngClass]='{topRatedCourse: course.isTopRated}'
appCourse [courseCreationDate]='course.creationDate'>
	<div class="course-content">
		<div class="course-title">
			<div class="course-name">
				{{course.title | uppercase}}
				<img src="../../../../../assets/starCourse.svg" alt="star" *ngIf='course.isTopRated'>
			</div>
			<div class="course-info">
				{{course.duration | durationCourse}}
			{{course.creationDate | date:'dd.MM.yyyy'}}
			</div>
		</div>
		<p>
			{{course.description}}
			Lorem ipsum dolor sit amet consectetur,
			adipisicing elit. Inventore, enim cupiditate maiores ad repellendus
			magni tempore adipisci commodi eveniet voluptate modi placeat s
			oluta cumque neque totam quis. Nesciunt, voluptatem ipsa.
		</p>
	</div>
	<div class="course-buttons">
		<div class="course-button">
			<button>
				Edit
			</button>
		</div>
		<div class="course-button" (click)='deleteCourse(course.id)'>
			<button>
				Delete
			</button>
		</div>
	</div>
</div>
