.courses-list_item {
	display: flex;
	justify-content: space-between;
	border: 2px solid black;
	border-radius: 5px;
	margin: 10px 15px;
	padding: 10px;
	background-color: rgba($color: #ffffff, $alpha: 0.7);
}
.course-title {
	display: flex;
	justify-content: space-between;
}
.course-name {
	font-size: 1.3em;
}
.course-buttons {
	width: 250px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.course-button {
	button {
		width: 100%;
	}
}
.topRatedCourse {
	background-image: linear-gradient(rgb(68, 249, 255), rgb(56, 167, 149));
}

.greenBorder {
	border: 4px solid #34C924;
}

.blueBorder{
	border: 4px solid #1560BD;
}
