@font-face {
  font-family: SpaceMono;
  src: url(./assets/SpaceMono-Italic.ttf) format("opentype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'SpaceMono';
}

button {
	border-radius: 5px;
	padding: 5px;
}
