<div class="newCourseForm">
	<div class="inputContainer">

		<form [formGroup]="courseControl">

			<div class="inputContainer_input">
				<div>
					<label>Title:</label>
					<span *ngIf="_title?.invalid && (_title?.touched || _title?.dirty)">
						invalid title
					</span>
				</div>
				<input formControlName="title"  type="text" placeholder="title">
			</div>
			<div class="inputContainer_input">
				<div>
					<label>Description:</label>
					<span *ngIf="_description?.invalid && (_description?.touched || _description?.dirty)">
						invalid description
					</span>
				</div>
				<input formControlName="description"  type="text" placeholder="description">
			</div>
			<div class="inputContainer_input">
				<div>
					<label>Date:</label>
					<span *ngIf="_date?.invalid && (_date?.touched || _date?.dirty)">
						invalid date
					</span>
				</div>
				<input formControlName="date"  type="text" placeholder="date">
			</div>
			<div class="inputContainer_input">
				<div>
					<label>Duration:</label>
					<span *ngIf="_duration?.invalid && (_duration?.touched || _duration?.dirty)">
						invalid duration
					</span>
				</div>
				<input formControlName="duration"  type="text" placeholder="duration">
				<span class="durationCourse">{{newCourse.duration | durationCourse}}</span>
			</div>
			<div class="inputContainer_input">
				<div>
					<label>Authors:</label>
					<span *ngIf="_authors?.invalid && (_authors?.touched || _authors?.dirty)">
						invalid authors
					</span>
				</div>
				<input formControlName="authors" type="text" placeholder="authors">
			</div>

		</form>

		<div class="buttonsContainer">
			<button class="buttonsContainer_button" (click)="createNewCourse()" [disabled]="!courseControl.valid">Save</button>
			<button class="buttonsContainer_button" (click)="coursesListService.toggleAddNewCourse()">Cancel</button>
		</div>
	</div>
</div>
