<div class="deleteCoursePopup-container">
	<div class="backdrop" *ngIf="isDeleteCourseContainerVisible">
		<div class="confirmationModal modalWrapper">
			<div class="close" (click)="toggleConfirmModalToDeleteCourse()">+</div>
			<div class="confirmationMessage">Do you really want to delete this course?</div>
			<div class="">
				<button (click)="removeCourse()">Yes</button>
				<button (click)="toggleConfirmModalToDeleteCourse()">No</button>
			</div>
		</div>
	</div>
</div>
<div class="searchAdd-container">
	<app-search-add
	[coursesCatalog]="coursesCatalog"
	(searchCourses)="searchCourses($event)"
	(toggleAddNewCourse)="coursesList.toggleAddNewCourse()">
</app-search-add>
</div>

<div class="courseList">
	<div class="courseList__empty" *ngIf="isCourseListEmpty">
		no data. feel free to add new course.
	</div>
	<app-course
	*ngFor="let course of coursesCatalog | orderByCreationDate; let i = index"
	[course]="coursesCatalog[i]"
	(deletedCourse)="toggleConfirmModalToDeleteCourse(coursesCatalog[i].id)"
	(editToCourse)="openEditToCourse(coursesCatalog[i].id)">
	</app-course>
</div>

<div class="loadMore-container" *ngIf="!coursesList.isAddCourseVisible">
	<button class="loadMoreButton" (click)="showMoreCourses()" [disabled]="isCourseListEmpty">load more</button>
</div>
