<div class="deleteCoursePopup-container">
	<div class="backdrop" *ngIf="isDeleteCourseContainerVisible">
		<div class="confirmationModal modalWrapper">
			<div class="close" (click)="toggleConfirmModalToDeleteCourse()">+</div>
			<div class="confirmationMessage">Do you really want to delete this course?</div>
			<div class="">
				<button (click)="removeCourse()">Yes</button>
				<button (click)="toggleConfirmModalToDeleteCourse()">No</button>
			</div>
		</div>
	</div>
</div>

<div class="courseList">
	<div class="courseList__empty" *ngIf="isCourseListEmpty">
		no data. feel free to add new course.
	</div>
	<app-course
	*ngFor ="let course of courseStream$ | async; let i = index"
	[course]="course"
	(deletedCourse)="toggleConfirmModalToDeleteCourse(course.id)"
	(editToCourse)="openEditToCourse(course)">
	</app-course>
</div>

<div class="loadMore-container">
	<div class="" >
		<button
			*ngFor='let pageNumber of pagesCount | async'
			[class.selectedPage]="currentPage === pageNumber"
			(click)="goToPage(pageNumber)">
			{{pageNumber}}
		</button>
	</div>
</div>
