<div class="search-add">
	<div class="search-control">
		<input type="text" placeholder="Searching courses" [(ngModel)]='inputSearchCourses'>
		<button (click)='searchingCourses()'>Search</button>
	</div>
	<button>Add course</button>
</div>
