<div class="backdrop">
	<div class="errorInput">
		<div class="close" (click)='closeError()' >+</div>
		<div class="errorMessage">
			<div>Error</div>
			<div>Your user name or password is incorrect.</div>
		</div>
		<button class="closeErrorMessageButton" (click)='closeError()'>Try again</button>
	</div>
</div>
