.close {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 2em;
	font-family: sans-serif;
	transform: rotate(45deg);
	cursor: pointer;
}
.backdrop {
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(110, 110, 110, 0.5);
	z-index: 1;
}

.errorInput {
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50%  - 200px);
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background-color: rgb(255, 126, 126);
	z-index: 1;
	border: 5px solid rgb(255, 62, 62);
	border-radius: 5px;
}

.errorMessage {
	margin: 20px;
	text-align: center;
}

.closeErrorMessageButton {
	padding: 10px;
}
