.wrapper {
	margin: 0 auto;
	width: 80vw;
	box-sizing: content-box;
	border: 2px solid black;
	background-color: rgba($color: #ffffff80, $alpha: 0.7);
}

.footer-container {
	background: bisque;
	bottom: 0;
	position: sticky;
	text-align: right;
}

.body {
	height: 100vh;
	background: linear-gradient(rgb(255, 170, 42), rgb(255, 118, 38));
}
