<div class="body" #logInSignUpPopup>
	<div class="wrapper">
		<div class="header-container">
			<app-header [toggleLogIn]='toggleLogInSignUp'></app-header>
		</div>
		<div class="main-container">
			<app-main></app-main>
		</div>
		<div class="footer-container">
			<app-footer></app-footer>
		</div>
	</div>
</div>
