@mixin scrollStyles () {
  &::-webkit-scrollbar-track
  {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: rgb(255, 189, 91);
    border-radius: 10px;
  }
  &::-webkit-scrollbar
  {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color:rgb(146, 66, 0);
  }
}

.loadMoreButton {
	margin: 1vh 15px;
	width: calc(100% - 30px);
	text-transform: uppercase;
}

.courseList {
	height: 70vh;
	overflow-y: hidden;
	overflow-y:scroll;
	@include scrollStyles();
}
