@mixin scrollStyles () {
  &::-webkit-scrollbar-track
  {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: rgb(255, 189, 91);
    border-radius: 10px;
  }
  &::-webkit-scrollbar
  {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color:rgb(146, 66, 0);
  }
}

.loadMoreButton {
	height: 5vh;
	margin: 1vh 15px;
	width: calc(100% - 30px);
	text-transform: uppercase;
}

.courseList {
	height: 65vh;
	background-color: rgba(48, 48, 48, 0.116);
	overflow-y: hidden;
	overflow-y:scroll;
	@include scrollStyles();
}
.courseList__empty {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
