<app-search-add [coursesCatalog]='coursesCatalog' (searchCourses)='searchCourses($event)'></app-search-add>
<div class="courseList">
	<div class="courseList__empty" *ngIf='isCourseListEmpty'>
		no data. feel free to add new course.
	</div>
	<app-course
	*ngFor='let course of coursesCatalog | orderByCreationDate; let i = index'
	[course]='coursesCatalog[i]'
	(deletedCourse)='removeCourse($event)'>
	</app-course>
</div>
<button class="loadMoreButton" (click)='showMoreCourses()' [disabled]='isCourseListEmpty'>load more</button>
